/* Du kommenterar på ett annat sätt. samma sätt som java*/

header{

  text-align: center;}
header a{

        color: #fefefe;
        font-family: 'Open Sans', sans-serif;
        font-weight: 450;
        text-decoration: none;
        text-transform: none;
        display: inline-block;
      }
body {
    background-image: url("./bilderstorage/brick2.jpg");
    overflow-x: hidden;
    }/* bakgrundsbilden*/

  
   
    
    .navM {
text-align: center;
}/* vart menyerna ska vara*/

    
    .navM a {
      color: #fefefe;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 450;
      display: inline-block;
      width: 150px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      /*att det är lite delay på färgen*/
      font-family: 'Open Sans', sans-serif;
      font-size:large;
    }/*Stilen på menyerna*/
    .nav{
      margin: auto;
    }
    
    .navM a:hover {
      color: #3a51fd;
    }/*Färgern som visas när man hovrar*/
    
    p{
      color: #fefefe;
      font-family: 'Open Sans', sans-serif;
      font-size: medium;
      text-align: center;
    padding-left: 20%;
    padding-right: 20%;

      }


.name{
  position: fixed;
  bottom: 0%;
  right: 0%;
  color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  /*mitt namn*/
}
.rapport a:hover{
  color: #fa0505;
}

.titel{
  color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-size: x-large;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  /*titlar på diverse*/

}
.menu{
  color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-size: x-large;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: double;
  padding-left: 20%;
  padding-right: 20%;
  /*special meny text*/
}

.rapport{
  position: fixed;
float: left;
bottom: 0%;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
/*rappot knapp*/

}
footer a{
  color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  text-decoration: none;
  text-transform: uppercase;
}

.imgs{
  
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#galleryiframe{
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.vid{
  display: block;
  text-align: center;
  justify-content: center;
}
.smalltext{
  color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
  text-align: center;
padding-left: 20%;
padding-right: 20%;
/*under texten på lunch*/
}
    
iframe a{
  color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  text-align: center;
  text-decoration: none;
}
    
#map{
margin: auto;
width: 425px;
height: 350px;


}


iframe{
  width="825" 
  height="350" 
}

table, th, td {
  border:0.5px solid white;
  color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  margin:0 auto;

}
    
#Pic{
  display: block;
  margin: auto;
  width: 1000px;
height: 630px;
border: none;

  
}

.galleryimgs{
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#maptext{
  color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 45%;
  margin-right: 40%;

}
#map{
  display: block;
  margin: auto;
}
video{
width: 80%;
display: block;
margin: auto;
}


@media (max-width:1300px){

  #galleryiframe{display: none;}
  #skiss{display: none;}
  .name{display: none;}
  #anime{display: none;}
}
@media (max-width:450px){
  #crazy{display: none;}
}
#svg{
  display: block;
  text-align: center;
  justify-content: center;

}
.audio{
  display: block;
  text-align: center;
  justify-content: center;
}
audio::-webkit-media-controls-play-button {

  background-color: rgb(115, 96, 203);

}



audio::-webkit-media-controls-panel {

  background-color: rgb(34, 34, 34);

}



audio::-webkit-media-controls-current-time-display {

  color: rgb(255, 255, 255);

}





audio::-webkit-media-controls-time-remaining-display {

  color: rgb(255, 255, 255);

}

#bike{
  height: 10%;
  width: 10%;

}
#anime{
  animation-name: BIKY;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  z-index: -1;
}
@keyframes BIKY{
0%{transform: translateX(0%);}
100%{transform: translateX(100%);}
}

#font{
  height: 30%;
  width: 30%;
}